.sidenav {
  background-color: #3f51b5;
  width: 150px;
  height: 100%;

 }

.sidenav a {
  color: #fff;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #fff;
}
