<mat-card>
  <mat-card-title>
    Agendamento
    <form>
      <mat-form-field>
        <p>Selecione o Curso</p>
        <select
          placeholder="Selecione o Curso"
          [(ngModel)]="calender.Curso"
          name="curso"
          class="formulario"
        >
          <option>Técnico em Administração</option>
          <option>Técnico em Informática</option>
          <option>Técnico em Enfermagem</option>
          <option>Técnico em Segurança do Trabalho</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <p>Selecione a Turma</p>
        <select [(ngModel)]="calender.Turma" name="turma" class="formulario">
          <p>Selecione o Curso</p>
          <option>TA 15</option>
          <option>TA 17</option>
          <option>TA 18</option>
          <option>TST 02</option>
          <option>TST 03</option>
          <option>TST 04</option>
          <option>TI 18</option>
          <option>TI 19</option>
          <option>TI 20</option>
          <option>TE 23</option>
          <option>TE 25</option>
          <option>TE 26</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <p>Selecione o turno</p>
        <select [(ngModel)]="calender.Turno" name="turno" class="formulario">
          <p>Selecione o Curso</p>
          <option>Manhã</option>
          <option>Tarde</option>
          <option>Noite</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <p>Selecione o Disciplina</p>
        <select
          [(ngModel)]="calender.Disciplina"
          name="Disciplina"
          class="formulario"
        >
          <option>Lógica</option>
          <option>Lingua Estrangeira</option>
          <option>Fundamentos de informática</option>
          <option>Banco de Dados</option>
          <option>Desenvolvimento Web I</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <p>Selecione o Professor</p>
        <select
          [(ngModel)]="calender.Professor"
          name="Professor"
          class="formulario"
        >
          <option>Elias</option>
          <option>Daniel</option>
          <option>Beatrice</option>
        </select>
      </mat-form-field>

      
      <mat-form-field appearance="fill">
        <input
          type="date"
          matInput
          placeholder="Data"
          [(ngModel)]="calender.Data"
          name="data"
          class="formulario"
        />
      </mat-form-field>
    </form>
  </mat-card-title>
</mat-card>

<button mat-raised-button (click)="createCalendario()" color="primary">
  Salvar
</button>

<button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
